## Reading first 100 rows

In [20]:
import pandas as pd

In [21]:
green_data = pd.read_csv('green_tripdata_2019-10.csv', low_memory=False)

green_data.shape

(476386, 20)

In [22]:
green_data.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

## Changing columns with timestamp values to the correct data type

In [23]:
green_data.lpep_pickup_datetime =  pd.to_datetime(green_data.lpep_pickup_datetime)

In [24]:
green_data.lpep_dropoff_datetime = pd.to_datetime(green_data.lpep_dropoff_datetime)

## Creating postgresql engine and writing to database

In [25]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(green_data, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Loading data in chunks

In [32]:
green_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000, low_memory=False)

## Loading chunks iteratively

In [33]:
from time import time
green_df = next(green_iter)
green_df.head(0).to_sql(name='green_taxi_data', con=engine, index=False, if_exists='replace')
green_df.to_sql(name='green_taxi_data', con=engine, index=False, if_exists='append')
while True:
    t_start = time()
    
    green_df = next(green_iter)
    
    green_df.lpep_pickup_datetime = pd.to_datetime(green_df.lpep_pickup_datetime)
    green_df.lpep_dropoff_datetime = pd.to_datetime(green_df.lpep_dropoff_datetime)
    green_df.to_sql(name='green_taxi_data', con=engine, index=False, if_exists='append')
    
    t_end = time()

    print("wrote another chunk..., took %.3f second" % (t_end - t_start))

wrote another chunk..., took 33.313 second
wrote another chunk..., took 44.480 second
wrote another chunk..., took 36.450 second
wrote another chunk..., took 17.307 second

StopIteration:

## Reading Zones Table

In [16]:
zones_data = pd.read_csv('taxi_zone_lookup.csv')
zones_data.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Loading to database

In [17]:
zones_data.to_sql(name='zones', con=engine, if_exists='replace')

265